# Where to generate setup artifacts like devices.json (Right now it's only 1 file)
SETUP_OUTPUT_DIR="."
# URL to future frontend
CLAIM_BASE_URL=https://setup.weather-app.local/claim
# How many devices to generate on setup
# (devices can be easily generated on demand, this is just for developer convinence)
DEVICE_COUNT=20

# In most cases, values below don't need modification for DEVELOPEMENT environemnt

# All of those keys are well known defaults
# Change only when in production environment

COSMOS_ENDPOINT=http://cosmos-emulator:8081/
COSMOS_KEY=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
COSMOS_DATABASE=weather-station-db
COSMOS_TLS_INSECURE=true
COSMOS_CONTAINER_REGISTRY=device-registry
COSMOS_CONTAINER_VIEWS=views
COSMOS_CONTAINER_TELEMETRY=telemetry-raw

AZURITE_ACCOUNT=devstoreaccount1
AZURITE_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==


POSTGRES_USER=ws_user
POSTGRES_PASSWORD=ws_password
POSTGRES_DB=weather_station


KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=weather-server


JWT_ISSUER_DEVICE=weather-station/device
JWT_ISSUER_PROVISIONING=weather-station/provisioning

JWT_KID_DEVICE=device-access-token
JWT_KID_PROVISIONING=provisioning-access-token

JWT_AUDIENCE_DEVICE=weather-api
JWT_AUDIENCE_PROVISIONING=provisioning-api


WORKER_SHARED_SECRET=local-worker-secret
ADMIN_API_KEY=super-secret-admin-key
